<br>


<div class="jumbotron jumbotron-fluid-x-sm" Style="position:inherit">
  <div class="container">
    <h1 class="display-2">Books... Add Only 10 Books per ISBN ! </h1>
    <p class="lead">Enjoy</p>
    <hr class="my-2">
    <p>Back Back</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="http://localhost:4200/Home" role="button">Go Back</a>
    </p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid-x-sm">

  <div class="form-row" Style="position:unset">

    <div class="form-group col-md-4">
      <label for="ISBN">ISBN</label>
      <input [(ngModel)]="newBook.ISBN" required minlength="4" type="number" class="form-control" id="ISBN" placeholder="ISBN">
        <span >{{err["errISBN"]}}</span>
    </div>


    <div class="form-group col-md-4">
      <label for="Autor">Autor</label>
      <input [(ngModel)]="newBook.Autor" type="text" class="form-control" id="Autor" placeholder="Autor">
      <span >{{err["errAutor"]}}</span>
    </div>

    <div class="form-group col-md-4">
      <label for="Title">Title</label>
      <input [(ngModel)]="newBook.Title" type="text" class="form-control" id="Title" placeholder="Title">
      <span >{{err["errTitle"]}}</span>
  
    </div>

    <div class="form-row col-md-4 ">
      <div class="form-group col-md-6">
        <label for="NumPages">NumPages</label>
        <input [(ngModel)]="newBook.NumPages" type="number" class="form-control" id="NumPages">
      </div>
    </div>

    <div class="form-row col-md-4">
      <div class="form-group col-md-6">
        <label for="Edition">Edition</label>
        <input [(ngModel)]="newBook.Edition" type="text" class="form-control" id="Edition">
        <span >{{err["errEdition"]}}</span>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Description">Description</label>
        <input [(ngModel)]="newBook.Description" type="text" class="form-control" id="Description">
        <span >{{err["errDescription"]}}</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input [(ngModel)]="newBook.Quantity" type="number" class="form-control" id="Quantity">
        <span >{{err["errQuantity"]}}</span>
      </div>
    </div>
    <br>
    <button (click)="print()" class="btn btn-primary" >Save</button>
  </div>
</div>
