<div  class="jumbotron jumbotron-fluid"  style="width:800px fit-contentcenter">
        <a href="#" class="btn btn-primary"  style="width:700px center">Back Back</a>
 
    
    </div>
   
    <div class="row" > <a href="#" class="btn btn-primary"  style="width:900px center"></a>
            <div class="col"></div>
          
            <div class="col">

                    <div  class="jumbotron jumbotron-fluid"  style="width:700px">
                            <div class="card" style="width:700px max-content">
                                    <img class="card-img-top" src="https://img.ecartelera.com/noticias/42300/42348-c.jpg" alt="Card image">
                                    <div class="card-img-top">
                                      <h4 class="card-title">Name : {{user.name}}</h4>
                                      <h4 class="card-text">Last Name:{{user.lastName}}</h4>
                                      <h4 class="card-text">User Name:{{user.userName}}</h4>
                                      <h4 class="card-text">Password:{{user.password}}</h4>
                                      <h4 class="card-text">CURP:{{user.curp}}</h4>
                                    </div>
                                  </div>
                                </div>
                            

            </div>
            <div class="col"></div>
         <a href="#" class="btn btn-primary"  style="width:900px center"></a>
          </div>