<div class="jumbotron jumbotron-fluid" style="width:800px fit-contentcenter">
  <a href="#" class="btn btn-primary" style="width:700px center">Back Back</a>


</div>

<div class="row"> <a href="#" class="btn btn-primary" style="width:900px center"></a>
  <div class="col"> </div>

  <div class="col">

    <div class="jumbotron jumbotron-fluid" style="width:700px">
      <h1 class="card-title"> <em>TITLE </em></h1>
      <h1 class="card-title">{{book.title}}</h1>
      <div class="card" style="width:700px max-content">

        <img class="card-img-top"
          src="https://www.incimages.com/uploaded_files/image/970x450/getty_883231284_200013331818843182490_335833.jpg"
          alt="Card image">
        <div class="card-img-top">
          <h4 class="card-title"> Title : {{book.title}}</h4>
          <h4 class="card-text"> Autor : {{book.autor}}</h4>
          <h4 class="card-text"> Description : {{book.description}}</h4>
          <h4 class="card-text"> Edition :{{book.edition}}</h4>
          <h4 class="card-text"> ISBN : {{book.isbn}}</h4>
          <h4 class="card-text"> Quantity : {{book.quantity}}</h4>
        </div>
      </div>
      <br>
      <a href="http://localhost:4200/Book" class="btn btn-primary" style="width:900px center">BACK LIST BOOKS</a>
    </div>


  </div>
  <div class="col"></div>
  <a href="#" class="btn btn-primary" style="width:900px center"></a>
</div>