@import url('https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css');
body{
    background-color: blue;

}
.row{
    margin-right: 65px;
    margin-left: 125px;
}
div.jumbotron
{
    margin-right: 65px;
    margin-left: 125px;

}


.carrousel-item{

  
    position: center;
    width: 25px;
    height:25px ;
}


